* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-color: #e7e7e765;
}

li {
    list-style: none;
}

button {
    padding: 5px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

span {
    word-wrap: break-word;
    text-align: justify;
}

.container {
    margin: 150px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container-label {
    padding: 10px;
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #9c9c9c65;
}


.task__description {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    text-indent: 2.5em;
}

.task14-example {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.task14-label {
    display: flex;
    width: 100%;
    gap: 20px;
}

#task14-input {
    padding: 10px 20px;
    border: none;
    width: 80%;
    background-color: #e7e7e765;
    border-radius: 6px;
    font-size: 16px;
}

.label__button {
    width: 20%;
}

#container-image {
    display: flex;
    justify-content: center;
}

.loaded-image {
    max-width: 100%;
}

/* Task 24 */

.container-24 {
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 940px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container-24-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.span__link {
    font-size: 12px;
}

table {
    width: 100%;
    table-layout: auto;
}

.button__sort {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url(./img/sortA.png);
    background-repeat: no-repeat;
    background-position: center;
}

.button__sort:last-child {
    
    background-image: url(./img/sortD.png);
}

tr:nth-child(even) {
    background-color: #cfcfcf65;
}

.user-item {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.user-item__title {
    padding: 10px 20px;
}

.user-item-string {
    display: flex;
}

.user-item-string:nth-child(even) {
    background-color: #cfcfcf65;
}

.user-item__data {
    padding: 5px 10px;
    width: 100%;
}

.user-item__data:first-child {
    width: 150px;
}


/* Task 25 styles */

.container-doby {
    padding: 40px;
    display: flex;
    border-radius: 20px;
    background-color: #e7e7e765;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container-pagination {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.pagination__item {
    width: 25px;
    height: 25px;
    padding: 0;
}

.someLabel {
    
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
}

.someInput {
    padding: 15px 20px;
    width: 50%;
    border: none;
    border-radius: 6px 0 0 6px;
    background-color: #3cf3d465;
}

.someButtonStyle {
    background-color: #5bf57065;
    border-radius: 0 6px 6px 0;
    width: 50%;
}